/* fonts */

/* poppins */
/* poppins regular */

@font-face {
    font-family: "Poppins";
    src: local("Poppins regular"),
        url("../fonts/poppins/regular/poppins_regular.eot"),
        url("../fonts/poppins/regular/poppins_regular.eot?#eifix") format("embedded-opentype"),
        url("../fonts/poppins/regular/poppins_regular.woff2") format("woff2"),
        url("../fonts/poppins/regular/poppins_regular.woff") format("woff"),
        url("../fonts/poppins/regular/poppins_regular.ttf") format("truetype"),
        url("../fonts/poppins/regular/poppins_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* poppins medium */

@font-face {
    font-family: "Poppins";
    src: local("Poppins medium"),
        url("../fonts/poppins/medium/poppins_medium.eot"),
        url("../fonts/poppins/medium/poppins_medium.eot?#eifix") format("embedded-opentype"),
        url("../fonts/poppins/medium/poppins_medium.woff2") format("woff2"),
        url("../fonts/poppins/medium/poppins_medium.woff") format("woff"),
        url("../fonts/poppins/medium/poppins_medium.ttf") format("truetype"),
        url("../fonts/poppins/medium/poppins_medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* poppins semibold */

@font-face {
    font-family: "Poppins";
    src: local("Poppins semibold"),
        url("../fonts/poppins/semibold/poppins_semibold.eot"),
        url("../fonts/poppins/semibold/poppins_semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/poppins/semibold/poppins_semibold.woff2") format("woff2"),
        url("../fonts/poppins/semibold/poppins_semibold.woff") format("woff"),
        url("../fonts/poppins/semibold/poppins_semibold.ttf") format("truetype"),
        url("../fonts/poppins/semibold/poppins_semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* poppins bold */

@font-face {
    font-family: "Poppins";
    src: local("Poppins bold"),
        url("../fonts/poppins/bold/poppins_bold.eot"),
        url("../fonts/poppins/bold/poppins_bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/poppins/bold/poppins_bold.woff2") format("woff2"),
        url("../fonts/poppins/bold/poppins_bold.woff") format("woff"),
        url("../fonts/poppins/bold/poppins_bold.ttf") format("truetype"),
        url("../fonts/poppins/bold/poppins_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* poppins extrabold */

@font-face {
    font-family: "Poppins";
    src: local("Poppins extrabold"),
        url("../fonts/poppins/extrabold/poppins_extrabold.eot"),
        url("../fonts/poppins/extrabold/poppins_extrabold.eot?#eifix") format("embedded-opentype"),
        url("../fonts/poppins/extrabold/poppins_extrabold.woff2") format("woff2"),
        url("../fonts/poppins/extrabold/poppins_extrabold.woff") format("woff"),
        url("../fonts/poppins/extrabold/poppins_extrabold.ttf") format("truetype"),
        url("../fonts/poppins/extrabold/poppins_extrabold.svg") format("svg");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* josefin */
/* josefin sans semibold */

@font-face {
    font-family: "Josefin sans semibold";
    src: local("Josefin sans semibold"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.eot"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.eot?#eifix") format("embedded-opentype"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.woff2") format("woff2"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.woff") format("woff"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.ttf") format("truetype"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* josefin sans bold */

@font-face {
    font-family: "Josefin";
    src: local("Josefin sans bold"),
        url("../fonts/josefin/bold/josefin_sans_bold.eot"),
        url("../fonts/josefin/bold/josefin_sans_bold.eot?#eifix") format("embedded-opentype"),
        url("../fonts/josefin/bold/josefin_sans_bold.woff2") format("woff2"),
        url("../fonts/josefin/bold/josefin_sans_bold.woff") format("woff"),
        url("../fonts/josefin/bold/josefin_sans_bold.ttf") format("truetype"),
        url("../fonts/josefin/bold/josefin_sans_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* roboto */
/* roboto regular */

@font-face {
    font-family: "Roboto";
    src: local("Roboto regular"),
        url("../fonts/roboto/regular/roboto_regular.eot"),
        url("../fonts/roboto/regular/roboto_regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/roboto/regular/roboto_regular.woff2") format("woff2"),
        url("../fonts/roboto/regular/roboto_regular.woff") format("woff"),
        url("../fonts/roboto/regular/roboto_regular.ttf") format("truetype"),
        url("../fonts/roboto/regular/roboto_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* roboto medium */

@font-face {
    font-family: "Roboto";
    src: local("Roboto medium"),
        url("../fonts/roboto/medium/roboto_medium.eot"),
        url("../fonts/roboto/medium/roboto_medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/roboto/medium/roboto_medium.woff2") format("woff2"),
        url("../fonts/roboto/medium/roboto_medium.woff") format("woff"),
        url("../fonts/roboto/medium/roboto_medium.ttf") format("truetype"),
        url("../fonts/roboto/medium/roboto_medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* roboto bold */

@font-face {
    font-family: "Roboto";
    src: local("Roboto bold"),
        url("../fonts/roboto/bold/roboto_bold.eot"),
        url("../fonts/roboto/bold/roboto_bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/roboto/bold/roboto_bold.woff2") format("woff2"),
        url("../fonts/roboto/bold/roboto_bold.woff") format("woff"),
        url("../fonts/roboto/bold/roboto_bold.ttf") format("truetype"),
        url("../fonts/roboto/bold/roboto_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* variables */

:root {
    /* color */
    --default-color-text: #242424;
    --standart-color-text: #ffffff;
    --accent-color-text: #f89773;
    --lignt-color-text: #7e848a;

    /* font-size */
    --default-size-btn: 16px;
    --default-size-text: 18px;
    --logo-size-text: 40px;
    --small-size-text: 45px;
    --accent-size-text: 55px;
    --title-size-text: 62px;
    --large-size-text: 75px;

    /* line-height */
    --min-lineheight: 1.2;
    --smoll-lineheight: 1.4;
    --default-lineheight: 1.5;

    /* background */
    --default-bg: #ffffff;
    --standart-bg: #f5f5f5;
    --grey-bg: #f1f1f3;
    --light-grey-bg: #f7f7f8;
    --dark-bg: #2d3640;
    --dark-accent-bg: #2c353d;
    --soft-bg: #fff4f1;
    --accent-bg: #ff6e30;
    --icon-soft-bg: #f9acdf;
    --icon-light-bg: #b1f0ca;
    --icon--default-bg: #efd894;
    --pseudo--bg: #311761;
    --caption-gradient: linear-gradient(to right, #ffffff 0%, #1f1820 21.74%,
                     #d36e30 54.03%, #2b6915 85.28%);
    --accent-gradient: linear-gradient(to right, #2d1562 0%, #a62e85 34.9%,
                     #0f1322 69.15%, #301565 100%);
    --soft-gradient: linear-gradient(to right, #8AD4EC 0%, #EF96FF 21.74%, 
                     #FF56A9 54.03%, #FFAA6C 85.28%);
    --light-gradient: linear-gradient(to right, #fca688 0%, #d68d96 54.63%,
                    #9ab1d9 93.25%, #9bd3d7 100%);
    --radial-gradient-start: radial-gradient(rgba(90, 79, 79, 0) 0%,
                    rgba(255, 255, 255, 0.46) 100%);
    --soft-radial-gradient: radial-gradient(#dff9e3 0%, rgba(255, 255, 255, 0.46) 100%);
    --anim-gradient-start: linear-gradient(to top, #8AECB1 0%,#EF96FF 21.74%,
                    #FF56A9 54.03%,#FC9850 85.28%);

    /* border */
    --soft-border: #dea694;
    --accent-border: #ff6e30;
    --light-grey-border: #cccccc;
    --space-grey: #e9d5d5;
    --grey-border: #bbbbbb;
    --light-accent-border: #e3e7ee;
    --dark-border: #000000;
    --default-border: #ffffff;
}

/* .page */

.page {
    background: var(--standart-bg);
    
    font-family: "Poppins", sans-serif;
    color: var(--default-color-text);
}

/* .wrapper */

.wrapper {
    width: 100%;
    max-width: 1419px;

    margin: 0 auto;

    overflow: hidden;

    background: var(--default-bg);
}

/* .inner */

.inner {
    width: 100%;
    max-width: 1195px;

    margin: 0 auto;
}

/* .header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__header {
    width: 100%;

    margin: 30px auto 47px;
}

/* logo */

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--logo-size-text);
    line-height: 1.66;
    text-transform: uppercase;
    color: var(--accent-color-text);
}

.header__logo {
    width: 100%;
    max-width: 140px;
}

/* .nav */

.header__nav {
    width: 100%;
    max-width: 500px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
}

.nav__link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--default-size-text);
    line-height: 1.2;
}

/* .btn */

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border: 1px solid transparent;
    border-radius: 8px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--default-size-btn);
    line-height: var(--default-lineheight);
    text-transform: capitalize;
    color: var(--standart-color-text);
}

.header__btn {
    min-width: 175px;

    padding: 18px 33px;
}

.btn--accent {
    background: var(--dark-bg);
}

/* .intro */

.page__intro {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 715px;

    margin: 0 auto 107px;
}

.intro-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 50%;
}

.intro__thumb {
    display: block;

    width: 100%;
    max-width: 99px;

    margin: 0 0 45px;

    border-radius: 16px;

    overflow: hidden;

    animation: anim-icon 3s ease-in infinite;
}

.intro__thumb--alternate {
    animation: anim-icon-alternate 4s ease-in-out infinite;
}

.thumb__icon {
    display: block;

    width: 100%;
}

.intro__thumb--active {
    position: absolute;
    left: 10px;
    top: 30px;
    z-index: 5;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 99px;

    margin: 0;
}

.thumb__icon--bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.thumb__icon--avatar {
    display: block;
    
    width: 100%;
    max-width: 66px;

    border-radius: 50%;
}

.intro__header {
    margin: 0 0 62px;
}

.intro__title-contain {
    position: relative;
}

.intro__title {
    background: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;

    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: var(--title-size-text);
    line-height: var(--smoll-lineheight);
    text-transform: capitalize;
    color: transparent;
}

.intro__title-inner {
    position: absolute;
    right: 20%;
    bottom: 0;
    z-index: 0;

    max-width: 142px;

    padding: 14px;

    background: var(--soft-bg);
    border: 1px solid var(--soft-border);
    border-radius: 2px;
}

.intro__title-text {
    background: var(--soft-gradient);
    background-clip: text;
    -webkit-background-clip: text;

    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: var(--accent-size-text);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: transparent;
}

.intro__description {
    width:100%;
    max-width: 500px;
    
    margin: 0 0 45px;
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--default-size-text);
    line-height: calc(var(--default-lineheight)*1.095);
    color: rgba(36, 36, 36, 0.7);
}

.intro__description *:not(:last-child) {
    margin: 0 0 15px;
}

.btn-contain {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 42px;
}

.intro__btn {
    padding: 18px 43.5px;
}

.btn--standart {
    background: var(--accent-bg);

    font-size: var(--default-size-text);
}

.btn--w-margin {
    gap: 21px;
    
    padding: 0;

    background: transparent;

    font-size: var(--default-size-text);
    color: var(--default-color-text);
}

.btn__icon {
    height: 55px;
}

.intro__contain-img {
    position: relative;
    z-index: 5;

    width: 100%;

    text-align: center;
}

.intro__img-caption {
    position: relative;
    z-index: 4;

    background: var(--caption-gradient);
    background-clip: text;
    -webkit-background-clip: text;

    font-family: "Popins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: var(--large-size-text);
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: transparent;
}

.intro__ellipse-blur {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 3;

    width: 100%;
    max-width: 525px;
    height: 752px;

    background: var(--radial-gradient-start);
    border-radius: 50%;
    filter: blur(1px);
    
    transform: translate(-42%, -7%);
}

.intro__ellipse-main {
    position: absolute;
    z-index: 2;
        
    width: 100%;
    max-width: 525px;
    height: 752px;

    transform: rotate(-142.8deg) translate(-68%, -1%);
    transform-origin: 0 0;
    background: var(--anim-gradient-start);
    border-radius: 50%;

    animation: anim-gradient 5s infinite;
}

.intro__img {
    position: relative;
    z-index: 4;

    display: block;

    width: 100%;
    max-width: 525px;
}

.intro__arrow {
    position: absolute;
    left: 50%;
    bottom: -100px;

    transform: translateX(-50%);
}


/* .artist */

.artist {
    position: relative;

    width: 100%;
}

.artist::after,
.artist::before {
    content: "";

    position: absolute;

    display: block;

    width: 299px;
    height: 299px;

    background: #483e94;
    border-radius: 50%;
    filter: blur(40px);

    opacity: 0.9;
}

.artist::after {
    right: 0;
    bottom: 0;
}

.page__artist {
    padding: 54px 42px 56px;
    background: var(--dark-accent-bg);
}

.artist__header {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin: 0 0 40px;
}

.header__contain--title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__icon {
    display: block;
    
    width: 100%;
    max-width: 64px;
}

.title--min {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--small-size-text);
    line-height: var(--default-lineheight);
    text-transform: capitalize;
    color: var(--standart-color-text);
}

.artist__list {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    width: 100%;
}

.artist__item {
    flex: 0 0 215px;
}

.header__contain--btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header__control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 45px;

    padding: 8px 16px;

    background: transparent;
    border: 1px solid var(--default-border);
    border-radius: 10px;
}

.btn__icon--control {
    height: 29px;
}

.card {
    position: relative;

    height: 265px;
    
    overflow: hidden;
}

.card__layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: -1;

    height: 161px;
}

.card__avatar {
    display: block;

    width: 100%;
    max-width: 153px;
    height: 153px;

    margin: 0 auto;

    border-radius: 50%;

    transform: translateY(30%);

    object-fit: cover;
}

.card__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 79px;

    height: 140px;

    transform: translateY(53%);

    text-align: center;

    transition: transform 0.3s ease-in-out;
}

.card:hover .card__description,
.card:focus .card__description {
    transform: translateY(-27%);
}

.card__link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--default-size-text);
    line-height: var(--min-lineheight);
    color: var(--standart-color-text);
}

.card__btn {
    padding: 11px 37px 12px;

    background: var(--accent-bg);
    border: 1px solid var(--accent-border);
    border-radius: 10px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--default-size-text)*0.83);
    line-height: var(--default-lineheight);
    color: var(--standart-color-text);
}


/* .features */

.page__features {
    width: 100%;

    margin: 0 0 85px;

    background: var(--light-gradient);
}

.features__title {
    display: none;
}

.features__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.features__item {
    width: 33.3%;
}

.features__card {
    width: 100%;
    max-width: 218px;

    margin: 39px auto 58px;

    text-align: center;
}

.features__numb {
    position: relative;

    margin: 0 0 22px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--large-size-text)*1.14);
    line-height: var(--min-lineheight);
    color: var(--default-color-text);
}

.features__numb:after {
    content: "+";

    position: absolute;
    top: 4%;
    right: 6%;

    font: inherit;
    font-size: calc(var(--small-size-text)*0.8);
    line-height: var(--smoll-lineheight);
}

.features__lead {
    display: inline-block;

    padding: 10px 32px;

    background: var(--default-bg);
    border-radius: 10px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: calc(var(--default-size-text)*0.67);
    line-height: var(--min-lineheight);
    text-transform: capitalize;
    color: var(--default-color-text);
}


/* .market */

.page__market {
    width: 100%;

    margin: 0 0 85px;
    padding: 88px 43px 84px;

    background: var(--grey-bg);
}

.market__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 62px;
}

.market__title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--small-size-text);
    line-height: var(--default-lineheight);
    text-transform: capitalize;
    color: var(--default-color-text);
}

.market__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--grey-border);
    border-radius: 10px;
}

.market__nav-link {
    display: inline-block;
    
    padding: 17px 13px 17px 14px;

    background: inherit;
    
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--default-size-tex)*0.83);
    color: var(--default-color-text);
    text-transform: capitalize;
}

.market__nav-link {
    border-left: 1px solid var(--light-grey-border);
}

.link-w-border {
    border: none;
}

.select {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 14px;

    padding: 16px 25px 16px 35px;

    border: 1px solid var(--grey-border);
    border-radius: 10px;
}

.select__icon {
    display: block;

    width: 100%;
    max-width: 10px;

    object-fit: cover;
}

.select__text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--default-size-btn);
    line-height: var(--min-lineheight);
    color: var(--default-color-text);
}


.market__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}

.market__column {
    width: 50%;
}

.market__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.market__card {
    width: 100%;
    max-width: 284px;

    border: 1px solid var(--space-grey);
}

.market__card--preview {
    max-width: 100%;
}

.market__card-img {
    display: block;

    width: 100%;
    height: 100%;
    max-height: 207px;

    margin: 0 0 10px;
}

.market__card-img--preview {
    max-height: 432px;
}

.market__card-desc {
    margin: 0 0 15px;
    padding: 0 15px;
}

.card-desc--preview {
    margin: 0 0 52px;
    padding: 0 45px 0 28px; 
}

.market__link {
    display: inline-block;

    margin: 0 0 4px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: calc(var(--default-size-text)*0.67);
    line-height: var(--smoll-lineheight);
    color: var(--default-color-text);
}

.link--preview {
    margin: 0 0 14px;

    font-size: var(--default-size-text);
}

.market__subtitle {
    margin: 0 0 17px;

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: var(--default-size-btn);
    line-height: var(--smoll-lineheight);
    color: var(--default-color-text);
}

.subtitle--preview {
    font-size: calc(var(--default-size-text)*1.4);
}

.market__card-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.market__cost {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: calc(var(--default-size-text)*0.67);
    line-height: var(--default-lineheight);
    text-transform: uppercase;
    color: var(--default-color-text);

    opacity: 0.7;
}

.cost--preview {
    font-size: calc(var(--default-size-text)*1.22);
}

.market__btn {
    padding: 7px 24.5px;

    border: 1px solid var(--dark-border);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(114, 43, 254, 0.25);

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--default-size-text)*0.67);
    line-height: var(--default-lineheight);
    color: var(--default-color-text);
}

.btn--preview {
    padding: 18px 43.5px;

    background: var(--accent-bg);
    border: 1px solid var(--accent-border);

    font-size: var(--default-size-text);
    color: var(--standart-color-text);
}


/* .description */

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 72px;
}

.page__description {
    width: 100%;

    padding: 58px 46px 62px;

    background: var(--grey-bg);
}

.description__column {
    width: 50%;
}

.description__header {
    width: 100%;
}

.description__title {
    margin: 0 0 6px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--small-size-text);
    line-height: var(--default-lineheight);
    letter-spacing: 1px;
    color: var(--default-color-text);
}

.description__text {
    margin: 0 0 6px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--default-size-btn);
    line-height: var(--default-lineheight);
    color: var(--default-color-text);

    opacity: 0.7;
}

.description__text *:not(:last-child) {
    margin: 0 0 10px;
}

.description__list {
    width: 100%;
    max-width: 474px;

    margin: 0 0 35px;
}

.description__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;

    padding: 25px 0 22px;

    border-bottom: 3px solid var(--light-accent-border);
}

.description__icon-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 50px;
    height: 50px;

    border-radius: 50%;
}

.icon-contain--soft {
    background: var(--icon-soft-bg);
}

.icon-contain--light {
 background: var(--icon-light-bg);
}

.icon-contain--default {
    background: var(--icon--default-bg);
}

.description__icon {
    display: block;

    width: 100%;
    max-height: 38px;

    object-fit: contain;
}

.description__lead {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--default-size-btn);
    line-height: var(--default-lineheight);
    text-transform: capitalize;
    color: var(--default-color-text);
}

.description__lead *:not(:last-child) {
    margin: 0 0 10px;
}

.description__cost-contain {
    width: 100%;
    max-width: 285px;

    text-align: center;
}
.description__article-number {
    margin: 0 0 3px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--logo-size-text)*1.08);
    line-height: var(--smoll-lineheight);
    text-transform: uppercase;
    color: var(--default-color-text);
}

.description__cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 21.4px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: calc(var(--default-size-text)*1.45);
    line-height: var(--smoll-lineheight);
    color: var(--default-color-text);
}

.description__cost::before,
.description__cost::after {
    content: "";
    
    position: relative;

    display: block;

    width: 100%;
    max-width: 52.2px;
    height: 2px;

    background: var(--pseudo--bg);
}

.description__img {
    width: 100%;
    max-width: 562px;
    height: 594px;

    object-fit: contain;
}


/* .order */

.order {
    width: 100%;
}

.page__order {
    margin: 0 0 138px;
    padding: 67px 50px 100px;

    background: var(--light-grey-bg);
}
.order__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

    margin: 0 0 100px;
}

.order__img {
    display: block;

    width: 100%;
    max-width: 456px;
    height: 329px;

    object-fit: contain;
}

.order__header {
    margin: 0 0 34px;
}

.order__title {
    margin: 0 0 24px;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--small-size-text);
    line-height: var(--default-lineheight);
    text-transform: capitalize;
    color: var(--default-color-text);
}

.order__description {
    margin: 0 0 34px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--default-size-text);
    line-height: var(--default-lineheight);
    color: var(--lignt-color-text);
}

.order__description *:not(:last-child) {
    margin: 0 0 10px;
}

.order__btn {
    padding: 18px 37px;

    background: var(--accent-bg);
    border: 1px solid inherit;
    border-radius: 8px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--default-size-text);
    line-height: var(--default-lineheight);
    text-transform: capitalize;
    color: var(--standart-color-text);
}

.scale__line-contain {
    position: relative;

    margin: 0 0 30px;
    padding: 0 30px;
}

.scale__line {
    width: 100%;
    height: 3px;

    background: var(--accent-bg);
}

.scale__list-icon {
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 0 30px;
}

.scale__step-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 47px;
    height: 47px;

    object-fit: contain;
}

.scale__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    padding: 0 30px;
}

.scale__point {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: calc(var(--default-size-text)*1.1);
    line-height: var(--default-lineheight);
    text-align: center;

    opacity: 0.7;
}


/* .partner */

.page__partner {
    position: relative;
    z-index: 1;

    background: var(--soft-radial-gradient);
}

.page__partner::after {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: block;

    background: url("../img/images/thumb__icon/thumb__icon-1.png") no-repeat center/cover;

    filter: blur(40px);
}

.partner__title {
    display: none;
}

.partner__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 100%;
    max-width: 1108px;

    margin: 40px auto;
}


/* .footer */

    .page__footer {
        padding: 90px 116px 30px;
    }

    .footer__column {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 0 0 47px;
    }

    .footer__item {
        width: 25%;
    }

    .footer__description {
        margin: 0 0 9px;

        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-style: var(--default-size-btn);
        line-height: var(--default-lineheight);
        color: var(--default-color-text);

        opacity: 0.7;
    }

    .footer__description *:not(:last-child) {
        margin: 0 0 7px;
    }

    .social__title {
        margin: 0 0 22px;

        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: calc(var(--default-size-text)*0.77);
        text-transform: capitalize;
        color: var(--default-color-text);
    }

    .social__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 26px;
    }

    .social__img {
        width: 22px;
        height: 22px;

        object-fit: contain;
    }

    .form__description {
        margin: 0 0 6px;

        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: var(--default-size-btn);
        line-height: var(--default-lineheight);
        color: var(--default-color-text);

        opacity: 0.7;
    }

    .form__input {
        display: block;

        margin: 0 0 20px;
        padding: 11px 15px;

        border: 1px solid var(--light-accent-border);
        border-radius: 5px;

        color: var(--default-color-text);
    }

    .form__btn {
        display: inline-block;

        padding: 11px 39px; 

        border: 1px solid var(--accent-border);
        border-radius: 10px;
        background: var(--accent-bg);

        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: var(--default-size-btn);
        line-height: var(--default-lineheight);
        text-align: center;
        color: var(--standart-color-text);

        cursor: pointer;
    }

/* animations */

@keyframes anim-gradient {
    0% {
        background-position: bottom;
    }
    50% {
        background-position: middle;
    }
    100% {
        background-position: top;
    }
}

@keyframes anim-icon {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes anim-icon-alternate {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}