/* fonts */

/* poppins */
/* poppins regular */

@font-face {
    font-family: "Poppins";
    src: local("Poppins regular"),
        url("../fonts/poppins/regular/poppins_regular.eot"),
        url("../fonts/poppins/regular/poppins_regular.eot?#eifix") format("embedded-opentype"),
        url("../fonts/poppins/regular/poppins_regular.woff2") format("woff2"),
        url("../fonts/poppins/regular/poppins_regular.woff") format("woff"),
        url("../fonts/poppins/regular/poppins_regular.ttf") format("truetype"),
        url("../fonts/poppins/regular/poppins_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

/* poppins medium */

@font-face {
    font-family: "Poppins";
    src: local("Poppins medium"),
        url("../fonts/poppins/medium/poppins_medium.eot"),
        url("../fonts/poppins/medium/poppins_medium.eot?#eifix") format("embedded-opentype"),
        url("../fonts/poppins/medium/poppins_medium.woff2") format("woff2"),
        url("../fonts/poppins/medium/poppins_medium.woff") format("woff"),
        url("../fonts/poppins/medium/poppins_medium.ttf") format("truetype"),
        url("../fonts/poppins/medium/poppins_medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}

/* poppins semibold */

@font-face {
    font-family: "Poppins";
    src: local("Poppins semibold"),
        url("../fonts/poppins/semibold/poppins_semibold.eot"),
        url("../fonts/poppins/semibold/poppins_semibold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/poppins/semibold/poppins_semibold.woff2") format("woff2"),
        url("../fonts/poppins/semibold/poppins_semibold.woff") format("woff"),
        url("../fonts/poppins/semibold/poppins_semibold.ttf") format("truetype"),
        url("../fonts/poppins/semibold/poppins_semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

/* poppins bold */

@font-face {
    font-family: "Poppins";
    src: local("Poppins bold"),
        url("../fonts/poppins/bold/poppins_bold.eot"),
        url("../fonts/poppins/bold/poppins_bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/poppins/bold/poppins_bold.woff2") format("woff2"),
        url("../fonts/poppins/bold/poppins_bold.woff") format("woff"),
        url("../fonts/poppins/bold/poppins_bold.ttf") format("truetype"),
        url("../fonts/poppins/bold/poppins_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

/* poppins extrabold */

@font-face {
    font-family: "Poppins";
    src: local("Poppins extrabold"),
        url("../fonts/poppins/extrabold/poppins_extrabold.eot"),
        url("../fonts/poppins/extrabold/poppins_extrabold.eot?#eifix") format("embedded-opentype"),
        url("../fonts/poppins/extrabold/poppins_extrabold.woff2") format("woff2"),
        url("../fonts/poppins/extrabold/poppins_extrabold.woff") format("woff"),
        url("../fonts/poppins/extrabold/poppins_extrabold.ttf") format("truetype"),
        url("../fonts/poppins/extrabold/poppins_extrabold.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}

/* josefin */
/* josefin sans semibold */

@font-face {
    font-family: "Josefin sans semibold";
    src: local("Josefin sans semibold"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.eot"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.eot?#eifix") format("embedded-opentype"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.woff2") format("woff2"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.woff") format("woff"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.ttf") format("truetype"),
        url("../fonts/josefin/semibold/josefin_sans_semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

/* josefin sans bold */

@font-face {
    font-family: "Josefin";
    src: local("Josefin sans bold"),
        url("../fonts/josefin/bold/josefin_sans_bold.eot"),
        url("../fonts/josefin/bold/josefin_sans_bold.eot?#eifix") format("embedded-opentype"),
        url("../fonts/josefin/bold/josefin_sans_bold.woff2") format("woff2"),
        url("../fonts/josefin/bold/josefin_sans_bold.woff") format("woff"),
        url("../fonts/josefin/bold/josefin_sans_bold.ttf") format("truetype"),
        url("../fonts/josefin/bold/josefin_sans_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

/* roboto */
/* roboto regular */

@font-face {
    font-family: "Roboto";
    src: local("Roboto regular"),
        url("../fonts/roboto/regular/roboto_regular.eot"),
        url("../fonts/roboto/regular/roboto_regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/roboto/regular/roboto_regular.woff2") format("woff2"),
        url("../fonts/roboto/regular/roboto_regular.woff") format("woff"),
        url("../fonts/roboto/regular/roboto_regular.ttf") format("truetype"),
        url("../fonts/roboto/regular/roboto_regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

/* roboto medium */

@font-face {
    font-family: "Roboto";
    src: local("Roboto medium"),
        url("../fonts/roboto/medium/roboto_medium.eot"),
        url("../fonts/roboto/medium/roboto_medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/roboto/medium/roboto_medium.woff2") format("woff2"),
        url("../fonts/roboto/medium/roboto_medium.woff") format("woff"),
        url("../fonts/roboto/medium/roboto_medium.ttf") format("truetype"),
        url("../fonts/roboto/medium/roboto_medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}

/* roboto bold */

@font-face {
    font-family: "Roboto";
    src: local("Roboto bold"),
        url("../fonts/roboto/bold/roboto_bold.eot"),
        url("../fonts/roboto/bold/roboto_bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/roboto/bold/roboto_bold.woff2") format("woff2"),
        url("../fonts/roboto/bold/roboto_bold.woff") format("woff"),
        url("../fonts/roboto/bold/roboto_bold.ttf") format("truetype"),
        url("../fonts/roboto/bold/roboto_bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

/* variables */

:root {
    --default-color-text: #242424;
    --standart-color-text: #ffffff;
    --accent-color-text: #f89773;

    --default-size-btn: 16px;
    --default-size-text: 18px;
    --logo-size-text: 40px;

    --default-lineheight: 1.5;

    --default-bg: #ffffff;
    --standart-bg: #f5f5f5;
    --dark-bg: #2d3640;
}

/* .page */

.page {
    background: var(--standart-bg);
    
    font-family: "Poppins", sans-serif;
    color: var(--default-color-text);
}

/* .wrapper */

.wrapper {
    width: 100%;
    max-width: 1419px;

    margin: 0 auto;

    overflow: hidden;

    background: var(--default-bg);
}

/* .inner */

.inner {
    width: 100%;
    max-width: 1195px;

    margin: 0 auto;
}

/* .header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page__header {
    width: 100%;

    margin: 30px auto 47px;
}

/* logo */

.logo {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--logo-size-text);
    line-height: 1.66;
    text-transform: uppercase;
    color: var(--accent-color-text);
}

.header__logo {
    width: 100%;
    max-width: 140px;
}

/* .nav */

.header__nav {
    width: 100%;
    max-width: 500px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
}

.nav__link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--default-size-text);
    line-height: 1.2;
}

/* .btn */

.btn {
    border: 1px solid transparent;
    border-radius: 8px;

    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: var(--default-size-btn);
    line-height: var(--default-lineheight);
    text-transform: capitalize;
    color: var(--standart-color-text);
}

.header__btn {
    min-width: 175px;

    padding: 18px 33px;
}

.btn--accent {
    background: var(--dark-bg);
}

/* .intro */

.page__intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}